{% extends "base.html" %}

{% block content %}

<center>
<p></p>
<p></p>
<p></p>
<p></p>
  <h4>Click the logo to login with it here:</h4>
<div style="margin-top:50px;">
   <a href="/login/facebook"><div class="icon-login-facebook"></div></a>
   <a href="/login/google-oauth"><div class="icon-login-google"></div></a>
   <a href="/login/twitter"><div class="icon-login-twitter"></div></a>
</div>
<p></p>
<p></p>
<p></p>
<p>
<div class="alert">
  <strong>Information!</strong> We don't ask you any permission to access or store your extra information on above sites.
</div>
<p></p>
<p>If you are having problems to login please contact us</p>
<p>
<a href="/contact">Contact Support</a>
</center>

{% endblock %}
